<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/perfil.css">
    <script src="https://kit.fontawesome.com/a4e61d7a9e.js" crossorigin="anonymous"></script>
    <title>Perfil</title>
</head>
<body>
    <main>
        <div>
            <h2>Bienvenido <%= dato.nombre %> </h2>
            <img src="/img/perfil/<%= dato.img %>" name="img">
            <section class="section">
                <label>usuario: <%= dato.usuario %> </label>
                <label>correo: <%= dato.email %> </label>
                <label>Contraseña: <%= dato.password %> </label>
            </section>
            <a href="/">Volver a inico</a>
            <form action="/user/eli/<%=dato.id %>?_method=DELETE" method="POST" class="icon">
                <button type="submit"><i class="fa-solid fa-trash"></i></button>
            </form>
            <form action="/user/salir/delete" method="POST">
                <button type="submit">cerrar sesion</button>
            </form>
        </div>
    </main>

</body>
</html>