<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('../partials/head.ejs') %> 
    <link rel="stylesheet" href="/css/perfil.css">
    <title>Perfil</title>
</head>
<body>
    <main>
        <%- include('../partials/navPerfil') %> 
        <div class="contenidoNotas">
            <div class="barraNotas">
                <label>Notas</label>
            </div>
            <% for(let nota of notas) {%> 
            <section class="notaGuardadas">
                <figure>
                    <img src="/img/imagenes-notas/<%= nota.img %> " >
                </figure>
                <div class="contenido-info">
                    <label class="fecha"><%= nota.fecha %> </label>
                    <label class="notaTitulo"><%= nota.titulo %> </label>
                    <p class="cont-nota"><%= nota.descripcion %> </p>
                    <div class="tag">
                        <label>Largo plazo</label>
                        <label>Dificil</label>
                    </div>
                    <div class="botones-notas">
                        <a href="#"><i class="fa-solid fa-file-pen"></i></a>
                        <form action="/user/eli/<%=dato.id %>?_method=DELETE" method="POST" class="icon">
                            <button type="submit"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </div>
                </div>
            </section>
            <% } %> 
        </div>
    </main>

</body>
</html>